<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{../../lib/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../../lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/seckill_item.css}"/>
    <link rel="stylesheet" th:href="@{../../css/public.css}"/>
</head>
<body>
    <div th:replace="public/header :: header"></div>
    <form name="myLogin" id="myLogin" onsubmit="return LoginCheck()" action="try_login" method="post">
        <table>
            <tr>
                <td>请输入电话号码：</td>
                <td><input name="username" id="username" type="text"></td>
            </tr>
            <tr>
                <td>请输入密码：</td>
                <td><input name="password" id="password" type="password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="登录"></td>
            </tr>
        </table>
        没有帐户？<a href="/seckill/register">注册</a>

    </form>
    <h1 th:if="${err} eq 'usernotexist'" th:text="用户不存在"></h1>
    <h1 th:if="${err} eq 'wrongpassword'" th:text="密码错误"></h1>
    <h1 th:if="${err} eq 'useralreadyexist'" th:text="用户已存在"></h1>

    <div th:replace="public/footer :: footer"></div>
</body>

<script type="text/javascript" th:src="@{../../lib/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{../../lib/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{../../lib/bootstrap.min.js}"></script>

<!--&lt;!&ndash;    弹出错误信息&ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--    $(function (){-->
<!--            if([[${err}]] == "usernotexist"){-->
<!--                alert("用户不存在")-->
<!--            }-->
<!--            else if([[${err}]] == "wrongpassword"){-->
<!--                alert("密码错误")-->
<!--            }-->
<!--            else if([[${err}]] == "useralreadyexist"){-->
<!--                alert("用户已存在")-->
<!--            }-->
<!--            else{-->
<!--                alert("wtf")-->
<!--            }-->
<!--        }-->
<!--    )-->
<!--</script>-->

<script type="text/javascript">
    function LoginCheck(){
        var myForm = document.getElementById("myLogin")
        var loginName = document.getElementById("username").value
        var loginPassword = document.getElementById("password").value
        if(loginName == "" || loginPassword == ""){
            alert("姓名密码均不能为空")
            return false;
        }
        else if(loginName.length != 11 || loginPassword.length < 6){
            alert("电话号码格式错误或密码长度少于6位")
            return false;
        }
        else{
            return true;
        }
    }
</script>

</html>