<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>秒杀商品管理页面</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/font/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/seckill.css}"/>
    <link rel="stylesheet" th:href="@{/css/public.css}"/>

    <script type="text/javascript" th:src="@{/lib/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap.min.js}"></script>
    <script type="text/javascript">
        //cookie操作,储存登录用户的电话号码
        $(function (){
                //alert("欢迎登录" + [[${userphone}]])
                $.cookie("killPhone", [[${userphone}]])
            }
        )
    </script>
<!--    <script th:inline="javascript">-->
<!--        //单击删除按钮 delSeckillEventID-->
<!--        function deleteSeckillEvent(){-->
<!--            var a = confirm("你确定要删除此活动吗")-->
<!--            // if(a == true){-->
<!--            //     $.ajax({-->
<!--            //             url:"/seckill/delSeckillEvent",-->
<!--            //         }-->
<!--            //     )-->
<!--            // }-->
<!--            // else{-->
<!--            //-->
<!--            // }-->
<!--        }-->
<!--    </script>-->
</head>
<body>

<div id="app">
    <!-- header -->
    <div th:replace="public/header :: header"></div>

    <div>
        <h1>
            欢迎登录！管理员<p th:text="${userphone}"></p>
        </h1>

    </div>

    <!-- main -->
    <div id="main">
        <div class="container">
            <div>
                <li class="show" th:each="item : ${list}">
                    <!--                    <div class="img">-->
                    <!--                        <img th:src="${item.image}"/>-->
                    <!--                    </div>-->
                    <div class="title">
                        <span th:text="${item.title}"></span>
                    </div>
                    <div class="price">
                        <span>原价: ￥ <b th:text="${item.price}"></b></span>
                    </div>
                    <div class="price">
                        <span>秒杀价: ￥ <b th:text="${item.costPrice}"></b></span>
                    </div>
                    <div class="count">
                        <span>剩余库存： <b class="stock" th:text="${item.stockCount}"></b></span>
                    </div>
                    <div>
                        <span style="float:left;font-size: 13px;">结束时间：[[${#dates.format(item.endTime, 'yyyy-MM-dd HH:mm:ss')}]]</span>
                    </div>
                    <div class="buy">
                        <a th:href="'/seckill/' + ${item.seckillId} + '/delSeckillEventBy/' + ${userphone}" target="_self">
<!--                            <button style="width:100%" class="btn btn-success">立即抢购</button>-->
                            <button style="width:100%; background-color: red" class="btn btn-success">删除</button>
<!--                            <button style="width:100%" class="btn btn-success" onclick="deleteSeckillEvent()">删除</button>-->
                        </a>

                    </div>
                </li>
                <a href="/seckill/addNewEventPage">
                    <button class="btn btn-success">添加新活动</button>
                </a>

            </div>
        </div>

        <!-- footer -->
        <div th:replace="public/footer :: footer"></div>

    </div>
</div>

</body>
</html>